@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "Arial", sans-serif;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operating system prefers reduced motion */
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  gap: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 20px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  transition: background 0.3s, transform 0.3s;
}

.calculator-grid > button:hover {
  background: rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.output .previous-operand {
  font-size: 1.5rem;
  opacity: 0.75;
}

.output .current-operand {
  font-size: 2.5rem;
}
